<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="icon" href="{{ logo }}">

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link href="{{ url_for('static', filename='style/style.css') }}" rel="stylesheet">
</head>

<title>Translation Hero</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
  .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
  .fa-anchor,.fa-coffee {font-size:200px}
  .dropdown, select, option {
      max-height:50px;
      overflow:auto;
  }
  .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;

  }

  .inline {
    display: inline-block;
  }

</style>
<body>

<!-- Navbar -->
<div class="w3-top">
    <div style="background-color:blue; color: #FFFFFF;" class="w3-bar w3-card w3-left-align w3-large">
      <img style="transform: scale(0.8);" class="inline" src="{{ logo }}">
      <h1 style="font-style: bold" class="inline">Translation Hero</h1>
    </div>
</div>

<!-- First Grid -->
</br>
</br>
</br>
</br>

<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
      <h2 class="center-block">Choose a language:</h2>
    <div class="w3-100%">
        <form id="form1" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
        <select class="center-block" name="userLanguage">
          {% for value in languages.items() %}
            <option value="{{ value[1] }}">{{ value[1] }}</option>
          {% endfor %}
        </select> 

        </br>
        </br>

        <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <div class="file-upload">
          <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
            <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>
            <div class="image-upload-wrap">
              <input class="file-upload-input" name="file" type='file' onchange="readURL(this);" accept="image/*" multiple/>
              <div class="drag-text">
                <h3>Drop an image to translate the name of an object</h3>
              </div>
            </div>
            <div class="file-upload-content">
              <img class="file-upload-image" src="#" alt="your image" />
              <div class="image-title-wrap">
                <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
              </div>
            </div>
            <input class="center-block w3-button w3-blue w3-padding-large w3-large w3-margin-top" type="submit" value="Submit">
          </div>
          </form>
      <div class="w3-third w3-center"> </div>
    </div>
  </div>
  {% if uploaded %}
  </br>
  <h1 class="center-block">English: 
    <strong style="color: #0000ff">{{ obj_name_english }}</strong>
  </h1>
  <h1 class="center-block">{{ user_language }}: 
    <strong style="color: #0000ff">{{ obj_name_user_lang }}</strong>
  </h1>
{% endif %}
</div>



<script>
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

<script src="{{ url_for('static', filename='style/script.js') }}"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>
</html>